/* CSS Stylesheet for Animated-Portfolio Header */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2vmin;
  position: relative;
  z-index: 99;
}
.header > nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.8vw;
  margin-right: 2.8vw;
  padding: 20px;
}
.header .logo {
  margin-left: 2rem;
}
.header > nav ul ul {
  padding: 25px 25px;
  background: #f0f0f0;
  box-shadow: 5px 5px 10px #cacaca;
  min-width: 190px;
}
.header .open-sub:hover > ul {
  display: flex;
  flex-direction: column;
  min-width: 170px;
}
.header .open-sub > ul {
  display: none;
  position: absolute;
  right: -100%;
  top: -50%;
  z-index: 999;
}
.header > nav ul ul li {
  padding: 9px 0px;
}

.header nav ul li {
  list-style-type: none;
}
.header nav > ul > li {
  padding: 5px;
}
.header nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.header .open-sub,
.header > nav > ul > li:nth-child(2),
.header > nav > ul > li:nth-child(3) {
  position: relative;
}
.header .about-d,
.header .services-d {
  display: none;
  position: absolute;
  top: 100%;
}

.header ul > li:hover > ul {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 2vmin;
}

.header > nav > ul li:hover > a {
  color: #b6b6b6;
}
.header .fa {
  margin-right: 10px;
}
.header .fa-angle-down {
  margin-left: 10px;
}
.header .fa-angle-right {
  float: right;
}
.header .open-sub {
  clear: right;
}
.header ul > li:hover a .fa:not(.fa-angle-down) {
  transform: scale(1.7);
  color: #ffae00;
}
.header nav > ul ul li:not(li:last-child) {
  border-bottom: 1px solid rgba(251, 173, 3, 0.3);
}

@media only screen and (max-width: 542px) {
  .header .open-sub > ul {
    right: 20%;
    top: 95%;
    z-index: 999;
    padding-right: 0px;
  }
  .fa-angle-right {
    transform: rotate(90deg);
  }
  .header nav > ul > li > ul {
    z-index: 9;
  }
  .header nav > ul > li {
    padding: 10px;
  }
}
